.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.bgVideo {
  background-color: #2f3e58;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
  color: white;
}

.addItem {
  width: 400px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.addItem button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 5px;
  padding: 12px 10px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.384);
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s;
}

.addItem button svg{
  font-size: 23px;
}

.addItem button:hover{
  color: rgb(255, 255, 255);
}

.addItem button:active{
  background-color: rgba(255, 255, 255, 0.363);
}

.application{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  z-index: -1;
  padding: 27px 20px;
  position: absolute;
  left: 0;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: left;
  align-items: center;
}

.left .sideBar{
  color: rgba(255, 255, 255, 0.771);
  height: 100%;
}

.left .sideBar h1{
  font-size: 30px;
}


.left .sideBar h2{
  font-weight: 200;
  font-size: 30px;
  margin: 40px 0px;
  cursor: pointer;
  transition: 0.3s all;
}

.left .sideBar h2:hover{
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.right{
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputPadding{
  padding: 20px 20px;
}

@media only screen and (max-width: 750px) {
  .left .sideBar h1{
    font-size: 20px;
  }

  .left .sideBar h2{
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .bgVideo{
    display: none;
  }
  .App{
    background-image: url("./Images/bgImag.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .navBar {
    background-color: rgb(0, 0, 0);
    justify-content: center;
    width: 100%;
  }
  .addItem{
    background: none;
    width: 100%;
  }
  .addItem input{
    width: 50%;
  }
  .addItem button{
    width: 50px;
  }
}

